{% extends 'base.html' %}

{% block title %}
<title>Index</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Услуги</h1>
      <p class="lead">Быстро создайте эффективную таблицу цен для ваших потенциальных клиентов с помощью этого примера начальной загрузки. Он построен с использованием стандартных компонентов Bootstrap и утилит с небольшой настройкой.</p>
    </div>
  
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Демо</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">0 руб<small class="text-muted">/месяц</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 ВМ</li>
            <li>2 ГБ памяти</li>
            <li>Поддержка по электронной почте</li>
            <li>Доступ к справочному центру</li>
          </ul>
          <a href="/registration"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Подробнее</button></a>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Про</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">1500 руб<small class="text-muted">/месяц</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>3 ВМ</li>
            <li>10 ГБ памяти</li>
            <li>Приоритетная поддержка по электронной почте</li>
            <li>Доступ к справочному центру</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Оформить</button>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Компания</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">29000 руб<small class="text-muted">/месяц</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 ВМ</li>
            <li>15 ГБ памяти</li>
            <li>Поддержка по телефону и электронной почте </li>
            <li>Доступ к справочному центру</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Оформить</button>
        </div>
      </div>
      </div>
    </div>
</div>
{% endblock %}
