
{% extends 'base.html' %}

{% block title %}
<title>Login</title>
<style>
    
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    #center-blyat{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 20px;
        
    }
    form{
      
      
    }
    
  </style>
{% endblock %}

{% block body %}
<div class="form-signin" id="center-blyat">
    <form method="POST">
      <h1 class="h3 mb-3 fw-normal">Введите данные</h1>
      <label for="inputEmail" class="visually-hidden">Nickname</label>
      <input type="" name="name" id="inputEmail" class="form-control" placeholder="Nickname of telegram" required="" autofocus="">
      <!-- <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Retype password" required=""> -->
  
      <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
    </form>
</div>
{% endblock %}

